.mortgage-results {
  padding          : 2rem 1.5rem;
  background-color : $clr-slate-900;

  @include breakpoint(small) {
    padding: 2.5rem;
  }

  &__empty {
    display       : grid;
    justify-items : center;
    gap           : 1rem;

    @include breakpoint(medium) {
      align-content: center;
      height: 100%;
    }
  }

  &__filled {
    display : grid;
    gap     : 2.5rem;
    align-self: flex-start;
  }

  &__header {
    display : grid;
    gap     : 1rem;
  }

  &__results-containter {
    display : grid;
    gap     : 2rem;
    background-color: hsl(0, 0%, 0%, 0.25);
    border-top: 4px solid $clr-lime;
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;
  }

  &__text {
    display : grid;
    gap     : 0.5rem;
  }

  &__divider {
    border-color : hsla(203, 41%, 72%, 0.25);
  }
}