.mortgage-form {
  display       : grid;
  align-content : flex-start;
  gap           : 1.5rem;
  padding       : 2rem 1.5rem;

  @include breakpoint(small) {
    gap: 2.5rem;
    padding  : 2.5rem;
  }

  &__form {
    display : grid;
    gap     : 1.5rem;
  }

  &__header {
    display : flex;
    justify-content: space-between;
    align-items: center;
  }

  &__clear-all {
    color: $clr-slate-700;
    font-weight: 500;
    text-decoration: underline;
    text-underline-position: from-font;

    &:hover {
      color: $clr-slate-900;
      cursor: pointer;
    }
  }
}