// Lime
$clr-lime      : #D8DB2F;
$clr-lime-400  : #EBED97;

//Rose
$clr-slate-900 : #133041;
$clr-slate-700 : #4E6E7E;
$clr-slate-500 : #6B94A8;
$clr-slate-300 : #9ABED5;
$clr-slate-100 : #E4F4FD;

// Neutrals
$clr-black     : #000000;
$clr-white     : #FFFFFF;

// Utils
$clr-error     : #D73328;